<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Write your username" [(ngModel)]="registerDto.username" formControlName="username">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Write your name" [(ngModel)]="registerDto.nombre" formControlName="nombre" name="nombre">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Write your apellidos" [(ngModel)]="registerDto.apellidos" formControlName="apellidos" name="apellidos">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="Write your telefono" [(ngModel)]="registerDto.telefono" formControlName="telefono" name="telefono">
    </mat-form-field>
    <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="email">Email</mat-label>
    <input matInput placeholder="Write your email" [(ngModel)]="registerDto.email" formControlName="email" name="email">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput placeholder="Write your fecha de nacimiento" [(ngModel)]="registerDto.fechaNacimiento" formControlName="fechaNacimiento" name="fechaNacimiento">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Write your password" type="password" [(ngModel)]="registerDto.password" formControlName="password" name="password">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password2</mat-label>
      <input matInput placeholder="Write your password2" type="password2" [(ngModel)]="registerDto.password2" formControlName="password2" name="password2">
    </mat-form-field>
    <br>

    <input  type="file" id="file" (change)="onFileChanged($event)">

    <button mat-raised-button color="primary" type="submit" (click)="doRegister()">Registrarse</button>
</form>
