<mat-card>
  <br />
  <div class="crop">
    <img mat-card-image [src]="tipoInput?.foto" alt="Foto del tipo"/>
  </div>

  <div class="contenedor">
    <div>
      <mat-card-title>{{ tipoInput?.nombre }} </mat-card-title>
      <mat-card-subtitle>{{ tipoInput?.numVehiculos }} <br />
      </mat-card-subtitle>
    </div>


  </div>
    <div class="margenSup">

      <a [routerLink]="['/tipo',tipoInput?.id]"> <button mat-raised-button color="primary" (click)="editTipo('1500ms', '500ms', tipoInput, tipoInput.id)">Editar</button></a>
      <button class="button" mat-raised-button color="primary" (click)="getDeleteTipo(tipoInput?.id)"><mat-icon>delete</mat-icon></button>

    </div>

</mat-card>
