ul{
  display: flex;
  flex-wrap: wrap;
}

.form .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

button{
  margin-left: 8px;
}

#contenedor1 {
  margin-top: 20px;
  margin-left: 180px;
  width: 70%;
  margin-bottom: -50px;
}

h1 {
  width: 50%;
}

#contenedor2 {
  margin-left: 1540px;
}

img {
  width: 100%;
  max-height: 50%;
}
