<mat-card>
  <br />
  <div class="crop">
    <img mat-card-image [src]="marcaInput?.foto" alt="Foto de la marca"/>
  </div>

  <div class="contenedor">
    <div>
      <mat-card-title>{{ marcaInput?.nombre }} </mat-card-title>
      <mat-card-subtitle>{{ marcaInput?.numVehiculos }} <br />
      </mat-card-subtitle>
    </div>


  </div>
    <div class="margenSup">

      <a [routerLink]="['/marca',marcaInput?.id]"> <button mat-raised-button color="primary" (click)="editMarca(marcaInput, marcaInput?.id)">Editar</button></a>
      <button class="button" mat-raised-button color="primary" (click)="getDeleteMarca(marcaInput?.id)"><mat-icon>delete</mat-icon></button>

    </div>

</mat-card>
