<mat-card>
  <br />
  <div class="crop">
    <!-- <img mat-card-image [src]="concesionarioInput?.foto" alt="Foto del tipo"/> -->
  </div>

  <div class="contenedor">
    <div>
      <mat-card-title>{{ concesionarioInput?.nombre }} </mat-card-title>
      <mat-card-subtitle>{{ concesionarioInput?.numVehiculos }} <br />
      </mat-card-subtitle>
    </div>


  </div>
    <div class="margenSup">

      <a [routerLink]="['/concesionario',concesionarioInput?.id]"> <button mat-raised-button color="primary" (click)="editConcesionario(concesionarioInput, concesionarioInput?.id)">Editar</button></a>
      <button class="button" mat-raised-button color="primary" (click)="getDeleteConcesionario(concesionarioInput?.id)"><mat-icon>delete</mat-icon></button>

    </div>

</mat-card>
