<form class="example-form" [formGroup]="formulario">
  <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Write your username" formControlName="nombre">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Direccion</mat-label>
      <input matInput placeholder="Write your address" formControlName="direccion">
    </mat-form-field>
    <button class="button" mat-raised-button color="primary" type="submit" (click)="editConcesionario()">Editar</button>
</form>
